<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myapplication2.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lab01.Main">

        </activity>
        <activity android:name="lab01.Preferencje">

        </activity>
        <activity android:name="lab02.database.AddTask">

        </activity>
        <activity android:name="lab02.Main">

        </activity>
        <activity android:name="lab01.info"
            android:label="@string/lab01_title_info"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
